:root {
    --white: #FFFFFF;
    --white-dark: #55DFB4;
    --black: #000000;
    --gray-1: #E8E9ED;
    --gray-2: #00000029;
    --gray-3: #A5A5A5;
    --gray-4: #95989A;
    --gray-5: #707070;
    --gray-6: #13253B;
    --pink-1: #FF091129;
    --pink-2: #F9043629;
    --pink-3: #FB3B64;
    --pink-4: #EB476E;
    --green-light: #07ACE629;
    --green-dark: #55DFB4;
    --blue-light: #07ACE6;
    --blue-dark: #08A6E4;


}

html, body {
    font-size: 16px;
}

.box {
    background-color: var(--white);
    padding: 1.03125rem 0;
    box-sizing: border-box;
    box-shadow: 0 0.1875rem 0.375rem var(--gray-2);
}

.box .box__inner {
    max-width: 1352px;
    display: flex;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;

}

.header__logo {
    display: inline-block;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.15625;
    color: var(--blue-dark);
    text-decoration: none;
}
.header__menu {
    text-align: center;
    font-family: 'Open Sans';
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3.28px;
    color: #A5A5A5;
}

.menu__item {
    color: ;
}