:root {
    --white: #FFFFFF;
    --white-dark: #55DFB4;
    --black: #000000;
    --gray-1: #E8E9ED;
    --gray-2: #00000029;
    --gray-3: #A5A5A5;
    --gray-4: #95989A;
    --gray-5: #707070;
    --gray-6: #13253B;
    --pink-1: #FF091129;
    --pink-2: #F9043629;
    --pink-3: #FB3B64;
    --pink-4: #EB476E;
    --green-light: #07ACE629;
    --green-dark: #55DFB4;
    --blue-light: #07ACE6;
    --blue-dark: #08A6E4;

    --max-width: 84.5rem;

}

html, body {
    font-size: 16px;
}

.header {
    background-color: var(--white);
    box-sizing: border-box;
    box-shadow: 0 0.1875rem 0.375rem var(--gray-2);
}

.header .header__inner {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: inline-block;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.15625;
    color: var(--blue-dark);
    text-decoration: none;
}
.header__menu {}

.menu__item {
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 0.25rem solid var(--white);
    padding: 1.5625rem 0.7468rem;
    margin-top: 0.0625rem;
    margin-left: 4.44375rem;
    text-decoration: none;
    color: var(--gray-3);
    text-align: center;
    font-size: 0.6875rem;
    line-height: 1.36;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.205rem;
    text-transform: uppercase;
    transition: all 400ms ease-in-out;
}

.menu__item:hover {
    color: var(--black);
    border-bottom: 0.25rem solid var(--blue-dark);
}

.hero {
    background-color: var(--white);
    background-image: url("../images/background.png");
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 0.375rem;
    box-sizing: border-box;
}
.hero .hero__inner {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    align-items: center;
}
.hero .hero__inner .hero__hdl {
    margin: 7.75rem 0 0 0;
    color: var(--black);
    font-size: 3.0625rem;
    line-height: 1.1632;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}
.hero .hero__inner .hero__lead {
    margin: 1.25rem 0 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.375;
    font-weight: 400;
}
.hero .hero__inner .hero__btn {
    margin-top: 2.375rem;
    display: inline-block;
    background-color: var(--blue-dark);
    border-radius: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: var(--white);
    text-decoration: none;
    padding: 1.375rem 9.8125rem;
    line-height: 1.375;
    font-weight: 400;
    box-shadow: 0.3125rem .625rem 0.875rem var(--green-light);
    transition: all 400ms ease-in-out;
}

.hero .hero__inner .hero__btn:hover {
    color: var(--blue-dark);
    background-color: var(--white);
}

.stats {
    background-color: var(--white);
    box-sizing: border-box;
    margin: 0 0 14.125rem 0;
}
.stats .stats__inner {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    align-items: center;
    margin-top: -5rem;

}
.stats .stats__hdl {
    margin: 7.75rem 0 0 0;
    color: var(--black);
    font-size: 2.25rem;
    line-height: 1.1666;
    letter-spacing: 0rem;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}
.stats .stats__container {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 11.5rem;
}

.stats__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6.3125rem 0 0 0;
}

.stats__content--blue {
    width: 11rem;
}

.stats__content--green {
    width: 10.1875rem;
}

.content__circle {
    position: relative;
    display: block;
    background-color: #FB3B64;
    width: 3.919375rem;
    height: 3.919375rem;
    border-radius: 3.919375rem;
    margin-bottom: 0.8125rem;
}

.content__circle .content__img {
    position: absolute;
    top: 50%;
    transform: translate(70%, -50%);
}

.content__circle .content__img.content__img--blue {
    transform: translate(32%, -50%);
}
.content__circle .content__img.content__img--green {
    transform: translate(65%, -50%);
}

.stats__content .content__circle.content__circle--blue {
    background-color: #08A6E4;
}

.stats__content .content__circle.content__circle--green {
    background-color: #55DFB4;
}

.stats__content .content__count {
    color: var(--black);
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    letter-spacing: 0.3725rem;
    text-align: center;
    margin: 0 0 1.1875rem 0;
}
.stats__content .content__desc {
    color: var(--gray-3);
    font-size: 1.0625rem;
    line-height: 1.25;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0;
    text-align: center;
    margin:0;
}

.leads {
    background-color: var(--white);
    box-sizing: border-box;
    margin: 0 0 7.5625rem 0;
}

.leads .leads__inner {
    width: 100%;
    box-sizing: border-box;
    padding-top: 105px;
    background-color: #F7F7F7;
    max-width: var(--max-width);
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    align-items: center;
    margin-top: -5rem;

}
.leads__inner .leads__content {
    width: 1124px;
    margin:0 0 37px 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.leads__inner .leads__content.leads__content--right {
    flex-direction: row-reverse;
}
.leads__inner .leads__content.leads__content--transparent {
    background-color: transparent;
    column-gap: 61px;
    border: 0;
}

.leads__inner .content__leadText {
    position: relative;
    width: 416px;
    margin: 91px 35px;
}

.leads__inner .content__leadText:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 79%;
    border-bottom: 4px solid #FB3B64;
}

.leads__inner .content__leadText.content__leadText--right {
    margin: 70px 20px;
}

.leads__inner .content__leadText.content__leadText--right:before {
    border-bottom: 4px solid #08A6E4;
}

.leads__inner .content__leadText.content__leadText--transparent {
    margin: 0;
    background: #FFFFFF;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    padding: 70px 35px;

}

.leads__inner .content__leadText.content__leadText--transparent:before {
    width: 60%;
    border-bottom: 4px solid #55DFB4;
}

.leads__inner .img_container {
    position: relative;
}

.img_container .content__leadImgSquare {
    position: absolute;
    display: block;
    top: 75px;
    right: 108px;
    width: 180px;
    height: 180px;
    transform: rotate(45deg);
    background: #FB3B64;
    border-radius: 41px;
    z-index: 10;
}

.img_container .content__leadImgCircle {
    position: absolute;
    /*display: block;*/
    top: 12px;
    left: 70px;
    width: 320px;
    height: 320px;
    background: #07ACE6;
    border-radius: 50%;
}

.img_container .content__leadImg {
    position: absolute;
    z-index: 1000;
    bottom: 38px;
    right: 117.56px;

}

.img_container .content__leadImg.content__leadImg--left {
    position: absolute;
    z-index: 1000;
    bottom: 13px;
    left: 70px;

}

.leads .lead__hdl {
    color: var(--black);
    font-size: 2.25rem;
    line-height: 1.1666;
    letter-spacing: 0rem;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    margin: 0 0 1.875rem 0;
}
.lead__text {
    font-size: 1rem;
    line-height: 1.375rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    color: #000000;
    margin: 0 0 50px 0;
}

.lead__text.lead__text--lower{
    margin: 0 0 44px 0;
}

.content__leadImg.leads__content--transparent {}

.leads__content .content__text {
    background: #FFFFFF;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    margin: 0;
}

.leads__content .content__img {
    background: #55DFB4;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}
.content__img .content__leadImg {
    margin: 98px 82px 64px 62px;
}

