.calc {

  padding: 80px 0;
  background-color: $white-dark;

  @include for-tablets {
    padding: 30px 15px;
  }

  h2 {
    text-align: center;
  }
  &__columns {
    max-width: 865px;
    margin: 50px auto 0;
    display: flex;

    @include for-tablets {
      display: block;
    }

  }

  &__form {
    width: 50%;
    margin-right: 20px;

    @include for-tablets {
      width: 100%;
      margin-right: 0;
    }
  }

  &__input input,
  &__select .select__input {
    color: $gray-3;
    width: 100%;
    border-radius: 6px;
    border: 1px solid $blue-dark;
    padding: 11px 20px;
    line-height: 1em;
    font-size: 0.8125rem;
    box-shadow: 0px 3px 6px $blue-dark-shadow;
    margin-bottom: 20px;
    background-color: $white;
  }

  &__input {
    input {
      &::placeholder {
        color: $gray-3;
      }
    }
  }

  &__select {
    position: relative;

    .select__input {
      position: relative;
      height: 40px;
      vertical-align: middle;
      padding: 13px 20px;
      cursor: pointer;

      &::after {
        content: "";
        background-image: url("../images/arrow.svg");
        width: 22px;
        height: 22px;
        display: block;
        position: absolute;
        right: 14px;
        top: 9px;
      }
    }

    .select__dropdown {
      display: none;
      position: absolute;
      z-index: 1;
      background-color: white;
      width: 100%;
      border-radius: 6px;
      border: 1px solid $pink-4;
      overflow: hidden;

      li {
        font-size: 13px;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
          background-color: $white-dark;
        }
      }
    }

    &.open {
      .select__input::after {
        transform: rotate(180deg);
      }

      .select__dropdown {
        display: block;
      }
    }
  }

  //początek mojej wstawki

  .checkbox__lbl {
    position: relative;
    display: block;
    vertical-align: middle;
    margin: 0 0 20px 34px;
    font-family: $font-primary;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.4167;
    color: $gray-5;
    cursor: pointer;

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked + .checkbox-icon::before {
        content: "\2714";
        display: block;
        font-size: 16px;
        color: #08A6E4;
        text-align: center;
        line-height: 20px;
      }

      &:checked + .checkbox-icon {
      }
    }

    .checkbox-icon {
      position: absolute;
      top: 0;
      left: -34px;
      display: block;
      width: 24px;
      height: 24px;
      background-color: #fff;
      border: 1px solid #95989A;
      border-radius: 4px;
    }
  }

  // koniec mojej wstawki


  .form__checkbox {
    .consent__text {
      padding-top: 4px;
    }
  }

  &__summary {
    width: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;

    @include for-tablets {
      width: 100%;
      margin-left: 0;
      margin-top: 30px;
    }

    .summary__total,
    .list__item {
      box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
      border-radius: 6px;
      justify-content: space-between;
      align-items: center;
      color: $white;
      font-size: 0.875rem;
      display: none;  //tu zmienić na none

      &.open {
        display: flex;
      }
    }

    .summary__total {
      width: 50%;
      align-self: flex-end;
      margin-top: 22px;
      padding: 8px 20px;
      background-color: $blue-dark;

      .total__price {
        font-size: 1.25rem;
        font-weight: 700;
      }
    }

    .list__item {
      padding: 6px 20px;
      background-color: $green-dark;
      margin-bottom: 8px;

      .item {
        &__price {
          font-weight: 700;
          font-size: 1.125rem;
        }
      }
    }
  }
}