.leads {
  background-color: $white;
  margin: 0 0 6.25rem 0;

  .leads__inner {
    width: 100%;
    background-color: $white-dark;
    max-width: $max-width;
    display: flex;
    margin-inline: auto;
    padding: 6.5625rem 30px 0 30px;
    flex-direction: column;
    align-items: center;

    @include for-desktop {
      padding: 3.125rem 30px 0 30px;
    }

    .leads__content {
      max-width: 70.25rem;
      width: 100%;
      margin: 0 0 2.3125rem 0;
      background-color: $white;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border: 0.0625rem solid $gray-1;
      border-radius: 0.3125rem;

      @include for-desktop {
        max-width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
      }

      &.leads__content--right {
        flex-direction: row-reverse;

        @include for-desktop {
          max-width: 100%;
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
        }

      }

      &.leads__content--transparent {
        background-color: transparent;
        column-gap: 3.8125rem;
        border: 0;

        @include for-desktop {
          max-width: 100%;
          flex-direction: column;
        }

      }

      .content__leadText {
        position: relative;
        max-width: 26rem;
        margin: 5.6875rem 2.1875rem;

        @include for-desktop {
          max-width: 100%;
          margin: 1.875rem 2.1875rem;
        }

        .lead__hdl {
          color: $black;
          font-size: 2.25rem;
          line-height: 1.1666;
          letter-spacing: 0rem;
          font-weight: 400;
          font-family: $font-secondary;
          margin: 0 0 1.875rem 0;
        }

        .lead__text {
          font-size: 1rem;
          line-height: 1.375rem;
          font-family: $font-primary;
          font-weight: 400;
          letter-spacing: 0;
          color: $black;
          margin: 0 0 3.125rem 0;

          @include for-desktop {
            margin: 0;
          }

          &.lead__text--lower {
            margin: 0 0 2.75rem 0;

            @include for-desktop {
              margin: 0;
            }
          }
        }

        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 0.25rem;
          width: 79%;
          border-bottom: 0.25rem solid $pink-3;

          @include for-desktop {
            display: none;
          }

        }

        &.content__leadText--right {
          margin: 4.375rem 1.25rem;

          &:before {
            border-bottom: 0.25rem solid $blue-dark;
          }
        }

        &.content__leadText--transparent {
          margin: 0;
          max-width: 642px;
          width: 100%;
          height: 376px;
          background: $white;
          border: 0.0625rem solid $gray-1;
          border-radius: 0.3125rem;
          padding: 4.375rem 2.1875rem;

          @include for-desktop {
            height: auto;
            max-width: 100%;
            padding: 3.125rem 2.1875rem;
          }

          &:before {
            width: 60%;
            border-bottom: 0.25rem solid $green-dark;
          }
        }
      }

      .content__text {
        background: $white;
        border: 0.0625rem solid $gray-1;
        border-radius: 0.3125rem;
        margin: 0;
      }

      .content__img {
        background: $green-dark;
        height:100%;
        border: 0.0625rem solid $gray-1;
        border-radius: 0.3125rem;

        @include for-desktop {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .content__leadImgSingle {
          margin: 6.125rem 5.125rem 4rem 3.875rem;

          @include for-desktop {
            margin: 0;
            margin-top: 55px;
          }

          &.leads__content--transparent {
          }
        }
      }

      .img_container {
        position: relative;
        background: transparent;
        margin-right: 80px;

        @include for-desktop {
          margin-right: 0;
          margin-top: 40px;
        }

        &.img_container--left {
          margin-right: 0;
          margin-left: 60px;

          @include for-desktop {
            margin-left: 0;
            margin-top: 30px;
          }

        }

        .content__leadImg {
          position: relative;
          width: 387px;
          height: auto;
          z-index: 2;

          @include for-desktop {
            width: 192px;
          }

          &.content__leadImg--left {
            width: 426px;
            height: auto;
            z-index: 2;

            @include for-desktop {
              width: 175px;
            }

          }
        }

        .content__leadImgSquare {
          position: absolute;
          display: block;
          top: -2.75rem;
          right: 0rem;
          width: 11.25rem;
          height: 11.25rem;
          transform: rotate(45deg);
          background: $pink-3;
          border-radius: 2.5625rem;
          z-index: 1;

          @include for-desktop {
            width: 90px;
            height: 90px;
            left: 110px;
            top: -30px
          }

        }

        .content__leadImgCircle {
          position: absolute;
          top: -1.25rem;
          left: 0rem;
          width: 20rem;
          height: 20rem;
          background: $blue-light;
          border-radius: 50%;
          z-index: 1;

          @include for-desktop {
            width: 131px;
            height: 131px;
            left: 0;
            top: -15px
          }

        }
      }
    }
  }
}