.stats {
  background-color: $white;
  margin: 100px 0 0 0;

  .stats__inner {
    width: 100%;
    max-width: $width-stats;
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    align-items: center;

    .stats__hdl {
      color: $black;
      font-size: 2.25rem;
      line-height: 1.1666;
      letter-spacing: 0;
      font-weight: 400;
      font-family: $font-secondary;
      text-align: center;
    }
    .stats__container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 6.25rem 0 7.5rem;

      @include for-tablets {
        flex-direction: column;
        align-items: center;
        margin: 2.1875rem 0 50px;
      }

      .stats__content {
        width: 100%;
        max-width: 11rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include for-tablets {
          margin: 0 0 2.1875rem 0;
        }


        .content__circle {
          position: relative;
          display: block;
          background-color: $pink-3;
          width: 3.919375rem;
          height: 3.919375rem;
          border-radius: 3.919375rem;
          margin-bottom: 0.8125rem;

          .content__img {
            position: absolute;
            top: 50%;
            transform: translate(70%, -50%);

            &.content__img--blue {
              transform: translate(32%, -50%);
            }
            &.content__img--green {
              transform: translate(65%, -50%);
            }

          }

          &.content__circle--blue {
            background-color: $blue-dark;
          }

          &.content__circle--green {
            background-color: $green-dark;
          }
        }

        .content__count {
          color: $black;
          font-size: 1.25rem;
          line-height: 1.5;
          font-family: $font-secondary;
          font-weight: 800;
          letter-spacing: 0.3725rem;
          text-align: center;
          margin: 0 0 1.1875rem 0;
        }

        .content__desc {
          color: $gray-3;
          font-size: 1.0625rem;
          line-height: 1.25;
          font-family: $font-secondary;
          letter-spacing: 0;
          text-align: center;
          margin:0;
        }
      }
    }
  }
}
